# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.text.gohtml':
  'curlies':
    'prefix': 'x'
    'body': '{{ $1 }}'
  'Dot':
    'prefix': 'dot'
    'body': '{{ . }}'
  'If':
    'prefix': 'if'
    'body': '{{ if $1 }}\n\t$2\n{{ end }}'
  'If/Else':
    'prefix': 'ife'
    'body': '{{ if $1 }}\n\t$2\n{{ else }}\n\t$3\n{{ end }}'
  'If/Else if':
    'prefix': 'ifei'
    'body': '{{ if $1 }}\n\t$2\n{{ else if $3 }}\n\t$4\n{{ end }}'
  'With':
    'prefix': 'with'
    'body': '{{ with $1 }}\n\t$2\n{{ end }}'
  'With/Else':
    'prefix': 'withe'
    'body': '{{ with $1 }}\n\t$2\n{{ else }}\n\t$3\n{{ end }}'
  'Range':
    'prefix': 'range'
    'body': '{{ range $1 }}\n\t$2\n{{ end }}'
  'Partial':
    'prefix': 'partial'
    'body': '{{ partial "$1" . }}'
  'Block':
    'prefix': 'block'
    'body': '{{ block "${1:main}" ${2:.} }}\n\t$3\n{{ end }}'
  'Block define':
    'prefix': 'define'
    'body': '{{ define "${1:main}" }}\n\t$2\n{{ end }}'
  'Comment':
    'prefix': 'comm'
    'body': '{{/* $1 */}}'
